<!-- edit form -->
<h3>Edit Event</h3>

<form id="editForm" action="/schedule">

  <input type="hidden" name="id" value="<%= id %>">

  <label for="time">Time</label>
  <input value="<%= time %>" type="time" name="time" id="time" placeholder="time" required>

  <label for="item">Event</label>
  <input value="<%= item %>" type="text" name="item" id="item" placeholder="event" required>

  <label for="description">Description</label>
  <input value="<%= description %>" type="text" name="description" id="description" placeholder="description">

  <button id="editBtn" type="submit">edit event</button>
</form>
