<div  class="center-content">

  <h1>Log in to Nice Paper</h1>

  <form id="loginForm" action="" method="post">
    <label for="email">Email/Username:</label>
    <input type="text" id="email" name="email" placeholder="email/username">
    <br>
    <label for="password">Password:</label>
    <input type="password" minlength="8" maxlength="19" id="password" name="password" placeholder="password">
  <button type="submit" id="loginBtn">Login</button>
  </form>

</div>
