@@font-face {
  font-family: 'Gill Sans';
  src: url('gill-sans-light.ttf') format('truetype');
}

@component-active-bg:{
  background-color: #cae6f9
}

a {
  color: #00B7FF;
}

body {
  font-family: 'Gill Sans';
  background-color: #f4f4f4;
}

.desert {
  background-color: #ffefd5;
}

.warm {
  background-color: #ebebeb;
}

.rain{
  background-color: #b9d5e8;
}

.mocha{
  background-color:  #493d37;
}

.mud{
  background-color: #8e8477;
}

tr {
  padding:15px;
}

td {
  padding: 5px;
}

th {
  padding: 5px;
}

.center-content {
  left:50%;
  position: absolute;
  transform: translate(-50%);
  }
